.contactWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #252934;
  position: relative;
}

.contactContent {
  margin: auto;
  max-width: 1100px;
}

.contactContent p {
  color: #04c2c9;
  margin-bottom: 50px;
  transition: 0.5s;
  }

  .contactContent p:hover {
    color:  #e31b6d;
        }

.svgcolorLight {
  left: 0;
  position: absolute;
  top: 0;
  color: #f5f5f5;
}

.title {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 30pt;
  text-align: center;
  margin-top: 180px;
  font-weight: bold;
}

.lineUnderTitle {
  background: #ffffff;
  height: 4px;
  margin: 25px auto 50px;
  width: 70px;
  display: block;
  justify-content: center;
}

.autor {
color: #ffffff;
opacity: 0.5;
display: flex;
justify-content: center;
margin: 30px auto 40px;
font-size: small;
}

.autor span{
  color: #e31b6d;
  font-size: 15px;
 
 
}
.containerImg {
   background: #262f38;
    cursor: pointer;
    height: 55px;
    margin: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    width: 55px;
    border: 5px #262f38 solid;
   
}

.containerImg:hover {
  background: #04c2c9;
  height: 55px;
  width: 55px;
  border:  solid 5px #252934;

}

.contactLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.containerImg img {
  filter: invert();

}